extends base.pug
block scripts 
 script(src='/static/index.js')
block style 
 style 
  include ../static/home.css
  include ../static/aboutStyle.css  
block content 
 div#aboutContainer 
  h1 About Us
  p.paragraph Think the chance to dance has passed you by? Does the thought of going to lessons or getting up on the dance floor give you a fit of the screaming nightmares?  Not here.  

  p.paragraph This is a splendidly pleasant place where you can relax, smile and quietly, confidently master a step, dance in perfect time with the music, take your beloved (or a random stranger) in your arms, you get the idea.

  p.paragraph This, folks, is how to learn to dance without dying of embarrassment or ending up in traction.

  p.paragraph Here on our channel, we have clips of our video classes for adult beginners in: Ballroom (Waltz, Foxtrot), Latin (Swing, Cha Cha, Salsa), Modern/Contemporary, Belly Dancing, Street/Hip Hop and Ballet.

  p.paragraph So if you long to dance but have never learnt before, this is as good a place as any to start.