doctype html
html
 head
  title Surbhi Dance Academy
  block scripts
  block style 
 body
  nav#navbar
    ul 
     div#logo
      img(src="/static/Dance-PNG.png")
     div#academyname Surbhi Dance Academy
     li #[a(href="/") Home] 
     li #[a(href="/about") About]
     li #[a(href="/summercamp") Summer Camp]
     li #[a(href="/classinfo") Class Info]
     li #[a(href="/contact") Contact Us]

  block content
  block footer
   #myfooter
    p Copyright © 2023 SurbhiDanceAcademy.com | All rights reserved