extends base.pug
block scripts 
 script(src='/static/index.js')
block style 
 style 
  include ../static/home.css
  include ../static/classinfoStyle.css  
block content  
 div#classinfoContainer
  h1 Our Classes
  div.box 
   h3 Pre-Ballet Class (Age 5)
   p Monday to Friday:  5pm to 6pm.
   p Saturday:  (Special Section) 5pm to 7pm.
  div.box
   h3 Ballet Class (Age 7 & Up)
   p Monday to Friday:  4pm to 5pm.
   p Saturday:  (Special Section) 7pm to 9pm. 
  div.box
   h3 Tap/Jazz Class (Age 6) 
   p Monday to Friday:  5pm to 6pm.
   p Saturday:  (Special Section) 5pm to 7pm. 
  div.box
   h3 Acro Class (Age 6 & Up)
   p Monday to Friday:  4pm to 5pm.
   p Saturday:  (Special Section) 7pm to 9pm. 
  div.box
   h3 Hiphop Class (Age 7 & Up)
   p Monday to Friday:  9am to 10am.
   p Saturday:  (Special Section) 9am to 11am. 
  div.box
   h3 Tap Class (Age 7 & Up) 
   p Monday to Friday:  8am to 9am.
   p Saturday:  (Special Section) 8am to 10am. 
  div.box
   h3 Contemporary Class (teens)
   p Monday to Friday:  8am to 9am.
   p Saturday:  (Special Section) 8am to 10am.  