doctype html 
html
 head
  title Surbhi Dance Academy
  style 
   include ../static/home.css 
 body 
   nav#navbar
    ul 
     div#logo
      img(src="/static/Dance-PNG.png")
     div#academyname Surbhi Dance Academy
     li #[a(href="/") Home] 
     li #[a(href="/") About]
     li #[a(href="/") Services]
     li #[a(href="/") Class Info]
     li #[a(href="/") Contact Us]

 section#introSection 
   div.large Eat Sleep Dance Repeat

 section#welcome
   div.welcomeToacademy 
    h1 WELCOME TO SURBHI DANCE ACADEMY

 section#dancetypeSection 
  div.typeDance 
   img(src="/static/pre-ballet.png")
   h1 PRE-TAP/PRE-BALLET (Age 5)
   p Pre-Tap/Pre-Ballet is a one-hour class focusing on the basics of Ballet for 30 minutes and then switching shoes to experience the sounds and rhythms of Tap. A perfect class for 5 years olds to experience dance in its variety of forms!

  div.typeDance 
   img(src="/static/tap-jazz.png")
   h1 TAP/JAZZ AND BALLET/JAZZ (Age 6)
   p Combo classes for 6-7 year olds! These classes consist of a 30 minutes Jazz class with either a 30 minutes Ballet or Tap class to make a full one-hour class. A perfect way to sample two classes in one learning the basics of each!

  div.typeDance 
   img(src="/static/acro.png")
   h1 ACRO (Age 6 and Up)
   p Acro is gymnastics for dancers. These classes will improve strength, flexibility, body control and awareness. They will learn basic acrobatic skills in a safe and accurate progression.

  div.typeDance 
   img(src="/static/ballet.png")
   h1 BALLET (Age 7 and Up)
   p Ballet classes help to develop poise, posture, flexibility and graceful movement. Ballet technique is the base of many dance forms. They will learn plies and pirouettes and everything in between.

  div.typeDance 
   img(src="/static/hiphop.png")
   h1 HIPHOP (Age 7 and Up)
   p Hip Hop classes are upbeat and energetic. It is based on a street dance style that is always evolving. Hip Hop classes improve student’s musicality, coordination and groove.

  div.typeDance 
   img(src="/static/tap.png")
   h1 TAP (Age 7 and Up)
   p Students will learn basic tap rhythms and combinations which will improve their coordination and musicality. As they advance, dancers will focus on more intricate footwork, syncopation as well as progressions across the floor and combinations.

  div.typeDance 
   img(src="/static/contemporary.png")
   h1 CONTEMPORARY AND LYRICAL (Teens)
   p Contemporary & Lyrical are about self-expression, creativity and abstract lines. Dancers will enjoy dancing “outside of the box” while combining different elements of dance genres as they tell a story through movement.


section#missionSection
   h2 Our Mission
   div.card 
    h3 Dance Perfection
    div.card-box 
     div.card-img 
      img(src="/static/smallimg1.png")
     div.card-content 
      p This is best dance academy in the universe 

   div.card 
    h3 Dance As You Like
    div.card-box 
     div.card-img 
      img(src="/static/smallimg2.png")
     div.card-content 
      p This is best dance academy in the universe
   div.card 
    h3 Expert teaching
    div.card-box 
     div.card-img 
      img(src="/static/smallimg3.png")
     div.card-content 
      p This is best dance academy in the universe


footer#myfooter  
  p this is my footer
  script 
    include ../static/index.js