*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#navbar{
    background-color: rgb(235, 191, 191);
    padding:15px 10px;
    
}
#navbar ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#navbar li{
    list-style: none;
}
div#logo img{
    display: flex;
    height: 60px;
    margin-right: 0px;
    
    align-items: center;
}

#navbar ul div#academyname{
    border: 2px solid rgb(253, 253, 16);
    border-radius: 50px;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    font-weight: bolder;
    text-align: justify;
    text-align: center;
    display: flex;
    align-items: center;
    text-justify: distribute-all-lines;
    color: darkred;
    font-style: italic;
    font-size: 10px;
}

#navbar li a{
    text-decoration: none;
    padding: 0px 20px;
    color: rgb(48, 4, 73);
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 2px 2px red;
}

#navbar li a:hover{
   color: darkmagenta;
    
}

#introSection{
    color: rgb(236, 29, 81);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 10px;
    background: center / cover no-repeat url("/static/newdanceimg.jpg");
    height: 700px;
}

#introSection div.large{
    font-weight: bolder;
    font-size: 90px;
    text-align: center;
    text-shadow: 3px 3px white;
}

#welcome div.welcomeToacademy h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 100px;
    font-weight: bolder;
    color: crimson;
    text-shadow: 3px 3px #200707;
    word-spacing: 10px;
    background-color: rgb(228, 175, 158);
    border-radius: 10px;
    font-family: 'Rubik Pixels', cursive;
}

#dancetypeSection div.typeDance{
    height: inherit;
    padding-bottom: 50px;
}

#dancetypeSection div.typeDance img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

#dancetypeSection div.typeDance h1{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bolder;
    color: rgb(196, 7, 7);
    word-spacing: 7px;
    letter-spacing: 2px;
}
#dancetypeSection div.typeDance p{
    font-size: 25px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    letter-spacing: 3px;
}

#missionSection{
    height: 500px;
    background-color: rgb(240, 239, 237);
}

#missionSection h2{
    text-align: center;
    padding-top: 15px;
    font-size: 50px;
    color: rgb(48, 4, 73);
}

div.card{
    display: inline-block;
    border: 2px solid rgb(48, 4, 73);
    border-radius: 10px;
    width: 30%;
    margin: 20px 21px;
    height: 350px;
}

div.card h3{
    text-align: center;
    margin-top: 10px;
    color: rgb(48, 4, 73);
    font-size: 30px;
}

div.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.card-img{
    height: 250px;
    margin-top: 20px;
}

div.card-content p{
    padding: 0 10px;
    font-size: 18px;
}

div.card-img img{
    height: inherit;
}

#myfooter{
    height: 50px;
    background-color: black;
} 

#myfooter p{
    color: white;
    text-align: center;
    padding-top: 17px;
    letter-spacing: 2px;
    word-spacing: 4px;
}
